<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="referrer" content="origin">
    <meta name="theme-color" content="#ffffff">
    <meta name="geo.country" content="IN">
    <meta name="dc.language" content="en">

    <title>TOTP Generator</title>

    <meta name="author" content="Anweshan Roy Chowdhury">
    <meta name="reply-to" content="anweshanrc15@gmail.com">
    <meta name="description" content="A perfect TOTP Token Generator for all your applications using Two Factor Authentication.">
    <meta name="title" content="TOTP Generator">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://totp.anweshan.online/">
    <meta property="og:domain" content="totp.anweshan.online">
    <meta property="og:site_name" content="TOTP Generator">
    <meta property="og:title" content="TOTP Generator">
    <meta property="og:description" content="A perfect TOTP Token Generator for all your applications using Two Factor Authentication.">
    <meta property="og:image" content="./assets/img/totp-generator.png">


    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@_formula21">
    <meta property="twitter:url" content="https://totp.anweshan.online/">
    <meta property="twitter:domain" content="totp.anweshan.online">
    <meta property="twitter:site_name" content="TOTP Generator">
    <meta property="twitter:title" content="TOTP Generator">
    <meta property="twitter:description" content="A perfect TOTP Token Generator for all your applications using Two Factor Authentication.">
    <meta property="twitter:image" content="./assets/img/totp-generator.png">

    <link rel="stylsheet" href="https://me.anweshan.online/vendor/fontawesome/css/all.css">
    <link rel="stylesheet" href="./assets/css/style.css">

  </head>
  <body>
    <section id="app" class="section" v-cloak>
      <div class="container">
        <h1 class="title">TOTP Token Generator</h1>

        <div class="field">
          <label class="label is-uppercase">Your Secret Key</label>
          <div class="control">
            <input class="input" type="text" v-model="secret_key" placeholder="The secret key (in base-32 format)">
          </div>
        </div>
        
        <div class="field">
          <label class="label is-uppercase">Number of Digits</label>
          <div class="control">
            <input class="input" type="text" v-model="digits" placeholder="Usually 6">
          </div>
        </div>
        
        <div class="field">
          <label class="label is-uppercase">Token Period (in seconds)</label>
          <div class="control">
            <input class="input" type="text" v-model="period" placeholder="Usually 30">
          </div>
        </div>
        
        <div class="content">
          <span class="has-text-grey is-size-7">Updating in {{ updatingIn }} seconds</span>
          <progress class="progress is-info is-small" v-bind:value="updatingIn" :max="period"></progress>
        </div>
        
        <div class="box">
          <p class="title is-size-1 has-text-centered" id="token">{{ token }}</p>
        </div>
        
        <div class="control is-clearfix">
          <a class="button is-large is-light is-pulled-right" id="clipboard-button" data-clipboard-target="#token" title="Copy token to clipboard">
            <img src="./assets/img/clippy.svg" height="36" width="36">
          </a>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          Modified by <a href="https://me.anweshan.online" title="Anweshan's Website">@formula21</a>. Original Source by <a href="https://dan.hersam.com">Dan Hersam</a>. Source on <a href="https://github.com/formula21/totp-generator"><i class="fab fa-github"></i>&nbsp;Github</a>.
            
          </a>
        </div>
      </div>
    </footer>
    
    <script defer src="./assets/js/vue-2.4.0.min.js"></script>
    <script defer src="./assets/js/otpauth-3.1.3.min.js"></script>
    <script defer src="./assets/js/clipboard-2.0.6.min.js"></script>
    <script defer src="./assets/js/app.js?v=1.0"></script>
  </body>
</html>
  