<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="referrer" content="origin">
    <meta name="theme-color" content="#ffffff">
    <meta name="geo.country" content="IN">
    <meta name="dc.language" content="en">

    <title>TOTP Generator</title>

    <meta name="author" content="Anweshan Roy Chowdhury">
    <meta name="reply-to" content="anweshanrc15@gmail.com">
    <meta name="description" content="A perfect TOTP Token Generator for all your applications using Two Factor Authentication.">
    <meta name="title" content="TOTP Generator">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://anrcry.github.io/totp-generator">
    <meta property="og:domain" content="anrcry.github.io">
    <meta property="og:site_name" content="TOTP Generator">
    <meta property="og:title" content="TOTP Generator">
    <meta property="og:description" content="A perfect TOTP Token Generator for all your applications using Two Factor Authentication.">
    <meta property="og:image" content="https://anrcry.github.io/totp-generator/assets/img/totp-generator.png">


    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@_formula21">
    <meta property="twitter:url" content="https://anrcry.github.io/totp-generator">
    <meta property="twitter:domain" content="anrcry.github.io">
    <meta property="twitter:site_name" content="TOTP Generator">
    <meta property="twitter:title" content="TOTP Generator">
    <meta property="twitter:description" content="A perfect TOTP Token Generator for all your applications using Two Factor Authentication.">
    <meta property="twitter:image" content="https://anrcry.github.io/totp-generator/assets/img/totp-generator.png">
    <!-- script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script -->
    
    <link rel="stylesheet" href="./vendor/fontawesome/css/all.css">
    <link rel="stylesheet" href="./assets/css/bulma-0.9.0.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">

  </head>
  <body>
    <section id="app" class="section" v-cloak>
      <div class="container">
        <h1 class="title">TOTP Token Generator</h1>

        <div class="field">
          <label class="label is-uppercase">Your Secret Key</label>
          <div class="control">
            <input class="input" type="text" v-model="secret_key" placeholder="The secret key (in base-32 format)">
          </div>
        </div>
        
        <div class="field">
          <label class="label is-uppercase">Number of Digits</label>
          <div class="control">
            <input class="input" type="text" v-model="digits" placeholder="Usually 6">
          </div>
        </div>
        
        <div class="field">
          <label class="label is-uppercase">Token Period (in seconds)</label>
          <div class="control">
            <input class="input" type="text" v-model="period" placeholder="Usually 30">
          </div>
        </div>
        
        <div class="content">
          <span class="has-text-grey is-size-7">Updating in {{ updatingIn }} seconds</span>
          <progress class="progress is-info is-small" v-bind:value="updatingIn" :max="period"></progress>
        </div>
        
        <div class="box">
          <p class="title is-size-1 has-text-centered" id="token">{{ token }}</p>
        </div>
        
        <div class="control is-clearfix">
          <a class="button is-large is-light is-pulled-right" id="clipboard-button" data-clipboard-target="#token" title="Copy token to clipboard">
            <svg style="width: 1.5em; height: 1.5em;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M433.941 65.941l-51.882-51.882A48 48 0 0 0 348.118 0H176c-26.51 0-48 21.49-48 48v48H48c-26.51 0-48 21.49-48 48v320c0 26.51 21.49 48 48 48h224c26.51 0 48-21.49 48-48v-48h80c26.51 0 48-21.49 48-48V99.882a48 48 0 0 0-14.059-33.941zM266 464H54a6 6 0 0 1-6-6V150a6 6 0 0 1 6-6h74v224c0 26.51 21.49 48 48 48h96v42a6 6 0 0 1-6 6zm128-96H182a6 6 0 0 1-6-6V54a6 6 0 0 1 6-6h106v88c0 13.255 10.745 24 24 24h88v202a6 6 0 0 1-6 6zm6-256h-64V48h9.632c1.591 0 3.117.632 4.243 1.757l48.368 48.368a6 6 0 0 1 1.757 4.243V112z"/></svg>
          </a>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          Modified by <a href="https://me.anweshan.online" title="Anweshan's Website">@formula21</a>. Original Source by <a href="https://dan.hersam.com">Dan Hersam</a>. Source on <a href="https://github.com/formula21/totp-generator"><i class="fab fa-github" style="color: black !important;"></i>&nbsp;Github</a>.
          <style style="display: none;">
            i.fab.fa-github:hover{
              color: black !important;
            }
          </style>
        </div>
      </div>
    </footer>
    
    <script defer src="./assets/js/vue-2.4.0.min.js"></script>
    <script defer src="./assets/js/otpauth-3.1.3.min.js"></script>
    <script defer src="./assets/js/clipboard-2.0.6.min.js"></script>
    <script defer src="./assets/js/app.js?v=1.0"></script>
  </body>
</html>
  
