[v-cloak] {
    display: none;
}

html, body {
    height: 100%;
}

body > footer {
    position: sticky;
    top: 100vh;
}

.footer {
    padding: 2rem;
}

@media screen and (min-width: 1068px) {
    .container {
        max-width: 600px;
        width: 600px;
    }
}